---
import type { Post } from '@wordpress/core-data';
import BaseLayout from '../layouts/BaseLayout.astro';

const res = await fetch(`${import.meta.env.PUBLIC_WP_API}/posts`);
const posts: Post[] = await res.json();
---
<BaseLayout title="Home page">
  {
    posts.map((post) => (
      <h2>
        <a href={`/page/${post.slug}/`} set:html={post.title.rendered} />
      </h2>

      <Fragment set:html={post.content.rendered} />
    ))
  }
</BaseLayout>
