---
const { title } = Astro.props;
import BaseLayout from '@layouts/BaseLayout.astro';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>
  </head>
  <body>
    <BaseLayout>
      <h1>
        {title}
      </h1>
      <slot />
    </BaseLayout>
  </body>
</html>

<style>
  body {
    margin: 20px;
  }
</style>
