---
import '../../global.css';

const { title } = Astro.props;

---
<style>
    main {
        display: flex;
        flex-direction: column;
    }
</style>

<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="utf-8">
  </head>
  <body>
    <main id="swup">
      <h1>
        {title}
      </h1>
      <slot />
    </main>
    <script>
      import '../../lib/swup.js';
    </script>
  </body>
</html>
